
@{
    ViewBag.Title = "Index";
}

<br />
<h2 class="text-center">Configuration</h2>

<div class="container">

    <div id="tableDiv">

        @{
            Html.RenderAction("ConfigurationTable");
        }

    </div>

    <hr />

    <div id="Form">


    </div>


</div>