
@{
    ViewBag.Title = "Index";
}


<br />
<h2 class="text-center">CATEGORIES</h2>

<div class="container">



    <div id="tableDiv">

        @{
            Html.RenderAction("CategoriesTable");
        }

    </div>

    <hr />

    <div id="createForm">


    </div>


</div>


