<!-- a List is used becauase we have passed a list into this views method (Action)-->
@model List<Ecommerce.Entities.Category> 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var categories in Model)
{
    <h1>@categories.Name</h1>

}