@model List<Ecommerce.Entities.Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="form-group">
        <label>Category</label>

        <!--drop down list for category-->
        <select class="form-control" name="CategoryId">

            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>// categories will be saved to database based on their id
            }

        </select>
    </div>
    <div class="form-group">

        <label>Name</label>
        <input class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="Price" />
    </div>
    <button id="saveBtn" class="btn btn-primary" type="button">Save</button>
</form>



<script>


    $("#saveBtn").click(function () {


        $.ajax({

            method: "POST", 
            url: '@Url.Action("Create", "Product")', 
            // 'serialize' will get the values for every input field 
            // it will look like this e.g. - Name=p1&Description=None&Price=10.00
            data: $("#createProduct").serialize() 

        })
            .done(function (response) { // the response returns an html with values

                $("#tableDiv").html(response);
                $("#actionContainer").html(""); // empty the form so it ill disapear from the view

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

 



</script>