@model Ecommerce.Entities.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form id="editProduct">

    <input type="hidden" name="id" value="@Model.ID" />

    <label>Name</label>
    <input name="Name" value="@Model.Name" />

    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description" />

    <br />

    <label>Price</label>
    <input name="Price" value="@Model.Price"/>

    <button id="updateBtn" type="button">Update</button>

</form>

<script>


    $("#updateBtn").click(function () {


        $.ajax({

            method: "POST",
            url: "/Product/Edit",
            // 'serialize' will get the values for every input field
            // it will look like this e.g. - Name=p1&Description=None&Price=10.00
            data: $("#editProduct").serialize()

        })
            .done(function (response) { // the response returns an html with values

                $("#tableDiv").html(response);
                $("#actionContainer").html(""); // empty the form so it ill disapear from the view


            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });



</script>