
@{
    ViewBag.Title = "Index";
}

    <div class="container">

        <div id="tableDiv">
            <!--This 'RenderAction' will render the 'ProductsTable' view in this Index View -->
            @{


                Html.RenderAction("ProductsTable");

            }
        </div>

        <hr /> <!--horizontle line-->

        <div id="actionContainer">



        </div>

    </div>
