
@{
    ViewBag.Title = "Index";
}

    <div id="tableDiv">
        <!--This 'RenderAction' will render the 'ProductsTable' view in this Index View -->
        @{


            Html.RenderAction("ProductsTable");

        }
    </div>

<div id="actionContainer">



</div>

